
$basic-grey: #F5F7FA;
$basic-white: #FFFFFF;
$basic-black: #000000;
$basic-dark_grey: #47515a;

$basic-mint-alfa: rgba(54, 168, 163, 0.541);
$basic-light_grey: #8E9BAB;
$special-sand: #e19662;
$basic-mint: #36a8a3;
$special-teal: #0f6a80;
$special-mint: #1aa985;
$special-light_mint: #9cebd5;
$special-extra_light_mint: #68a4a1;
$mobile-width: 321px;
$mobile-width-only: 430px;
$sm-tablet-width: 520px;
$mid-tablet-width: 700px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$xs-desktop-width: 820px;
$sm-desktop-width-only: 992px;
$sm-desktop-width: 993px;
$sm-desktop-over-width: 994px;
$desktop-width-only: 1199px;
$desktop-width: 1200px;
$xl-width: 1400px;
$portrait-width: 370px;

